body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://media.istockphoto.com/id/184103864/vi/anh/nh%E1%BB%AFng-%C4%91%C3%A1m-m%C3%A2y-tr%C3%AAn-b%E1%BA%A7u-tr%E1%BB%9Di.jpg?s=612x612&w=0&k=20&c=8D_ufzQLcit5p7nL68MDdjFANffUdAZUB7AszfrdZ8k=);
  }
  
  .container {
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .hidden {
    display: none;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }